body {
    margin: 0%;
    background-color: white;
}

nav {
    background-color: #102B3F;
    width: auto;
    height: 790px;
    display: block;
}

.img {
    background-image: url(./img/Ordinateur.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    margin-top: 44px;
    width: 1400px;
    height: 704px;
    display: flex;
    position: relative;
}

.A-propos-de-moi {
    padding-left: 100px;
    font-size: 20px;
    block-size: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
}

.A-propos-de-moi:hover {
    color: black;
}

.Experience {
    padding-left: 100px;
    font-size: 20px;
    block-size: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
}

.Experience:hover {
    color: rgb(0, 0, 0);
}

.Scolaire {
    padding-left: 100px;
    font-size: 20px;
    block-size: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
}

.Scolaire:hover {
    color: black;
}


.Compétence {
    padding-left: 100px;
    font-size: 20px;
    block-size: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
}

.Compétence:hover {
    color: black;
}

.Loisir {
    padding-left: 100px;
    font-size: 20px;
    block-size: 0;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
}

.Loisir:hover {
    color: black;
}

/*.My_Pictures {
    width: 100px;
    height: 100px;
    border-radius: 90% ;
    border: 3px solid black;
    display: flex;
}

.Nom {
    margin-left: 1550px;
    padding-right: 100px;
    text-decoration: none;
    justify-content: right;
    display: flex;
}

.Tel {
    margin-left: 1550px;
    padding-right: 110px;
    text-decoration: none;
    justify-content: right;
    display: flex
}

.Mail {
    margin-left: 1550px;
    padding-right: 70px;
    text-decoration: none;
    justify-content: right;
    display: flex
}

.Ville {
    margin-left: 1550px;
    padding-right: 100px;
    text-decoration: none;
    justify-content: right;
    display: flex
}

.Github {
    margin-left: 1550px;
    padding-right: 70px;
    justify-content: right;
    display: flex;
} */

h1 {
    color: rgb(255, 255, 255);
    padding-top: 250px;
    padding-left: 150px;
    font-size: 50px;
    position: absolute;
}

.Nom_titles {
    color: rgb(255, 255, 255);
    padding-top: 300px;
    padding-left: 150px;
    font-size: 50px;
    block-size: 0;
    position: absolute;
}

.titles{
    color: rgb(255, 255, 255);
    padding-top: 350px;
    padding-left: 150px;
    font-size: 50px;
    block-size: 0;
    position: absolute;
}

h2 {
    color: #102B3F;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20%;
    display: flex;
}

.A_propos_de_moi {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20%;
    color: black;
    text-decoration: none;
    display: flex;
}

.bloc {
    width: auto;
    height: auto;
    background-color: white;
    display: flex;
}

h3 {
    color: #102B3F;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 380px;
    padding-top: 10px;
    display: inline-flex;
}

h4 {
    color:#102B3F;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 200px;
    display: inline-flex;
}

.experience {
    padding-left: 380px;
    font-size: 20px;
    display: flex;
}

.scolaire {
    padding-left: 200px;
    font-size: 20px;
    display: flex;
}

h5 {
    color: #102B3F;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 380px;
    display: inline-flex;
}

.compétence {
    padding-left: 380px;
    font-size: 20px;
    display: flex;
}

h6 {
    color: #102B3F;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 380px;
    display: inline-flex;
}

.loisir {
    padding-left: 380px;
    font-size: 20px;
    display: flex;
}


.fin {
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 20%;
    color: black;
    display: inline-block;
}

.Mail-footer {
    padding-left: 500px;
    font-size: 20px;
    display: inline-block;
}

.Tel-footer {
    padding-top: 90px;
    padding-left: 50px;
    font-size: 20px;
    display: inline-block;
}

.Copyrigth {
    color: rgb(255, 255, 255);
    margin-left: 45%;
    display: block;
}

footer {
    width: auto;
    height: 50px;
    background-color: #102B3F;
    bottom: 0%;
    display: flex;
}

/* * {
    border: 2px solid red;
} 
