.pc {
    background-image: url(../img/Ordinateur.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid white;
    border-bottom: none;
    margin-top: 22px;
    margin-left: 0px;
    width: max-content;
    height: auto;
    animation: test 1s cubic-bezier(0.7, 0, 0.84, 0) 1s 1 normal both;
    display: flex;

    @media (max-width: 1440px) {
        background-size: cover;
        background-position: 5%;
        justify-content: center;
        margin-right: auto;
    }

    @media (max-width: 768px) {
        background-size: contain;
    }

    @media (max-width: 425px) and (min-width: 320px) {
        background-color: #102b3f;
        background-image: none;
        justify-content: center;
    }
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 250px;
    margin-left: 150px;
}

h1,
.Nom_titles,
.titles {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 0;

    @media (min-width: 768px) and (max-width: 1440px) {
        font-size: 40px;
        margin-top: 10px;
    }
    @media (max-width: 425px) {
        display: none;
    }
}
