.pc {
    background-image: url(../img/Ordinateur.png);
    background-repeat: no-repeat ;
    background-size: cover;
    border: 2px solid white;
    margin-top: 22px;
    margin-left: 0px;
    width: 1400px;
    height: 704px;
    animation: test 1s cubic-bezier(0.7, 0, 0.84, 0) 1s 1 normal both;
    display: flex;
}


@keyframes test {
	0% {
		background-position: 50% 0%;
	}

	100% {
		background-position: 50% 100%;
	}
}

h1 {
    color: rgb(255, 255, 255);
    margin-top: 250px;
    margin-left: 150px;
    font-size: 50px;
    position: absolute;
}

.Nom_titles {
    color: rgb(255, 255, 255);
    margin-top: 250px;
    margin-left: 160px;
    font-size: 50px;
    block-size: 0;
    position: absolute;
}

.titles{
    color: rgb(255, 255, 255);
    margin-top: 300px;
    margin-left: 170px;
    font-size: 50px;
    block-size: 0;
    position: absolute;
}