.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%); 
}

.modal-content {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    position: relative; 
}

/* Styles pour le lien */
.Mail-footer {
    font-size: 20px;
    margin-left: 1500px;
    cursor: context-menu;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Styles pour le formulaire */
#emailForm {
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}

input[type="email"],
input[type="text"],
textarea {
    max-width: 90%;
    max-height: 200px;
    min-width: 50%;
    min-height: 10px;
    width: 90%;
    padding: 10px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styles pour le bouton "Fermer" */
#closeModal {
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    border: none;
    padding: 5px;
    cursor: pointer;
    position: absolute; 
    top: 15px; 
    right: 15px; 
}