nav {
    background-color: #102B3F;
    width: auto;
    height: 790px;
    pointer-events: none;
    display: block;
}


.A-propos-de-moi {
    margin-top: 20px;
    padding-left: 100px;
    font-size: 20px;
    block-size: 0;
    pointer-events: auto;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
    cursor: help;
}

.Experience {
    margin-top: 20px;
    padding-left: 100px;
    font-size: 20px;
    block-size: 0;
    pointer-events: auto;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
    cursor: help;
}

.Scolaire {
    margin-top: 20px;;
    padding-left: 100px;
    font-size: 20px;
    block-size: 0;
    pointer-events: auto;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
    cursor: help;
}

.Compétence {
    margin-top: 20px;
    padding-left: 100px;
    font-size: 20px;
    block-size: 0;
    pointer-events: auto;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
    cursor: help;
}

.Loisir {
    margin-top: 20px;
    padding-left: 100px;
    font-size: 20px;
    block-size: 0;
    pointer-events: auto;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
    cursor: help;
}