h2 {
  color: #102b3f;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 20%;
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  display: flex;
}

.A_propos_de_moi {
  width: 50%;
  font-size: 20px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 380px;
  color: black;
  display: flex;
}

.bloc {
  width: auto;
  height: auto;
  background-color: white;
  display: flex;
}

h3 {
  color: #102b3f;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 380px;
  margin-top: 10px;
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  display: inline-flex;
}

h4 {
  color: #102b3f;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 200px;
  margin-top: 10px;
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  display: inline-flex;
}

.dawan,
.bac2,
.Cap,
.bac,
.formation {
  margin-left: 370px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
}

.hyzen,
.mairie,
.mission,
.casse {
  margin-left: 200px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
}

h5 {
  color: #102b3f;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 380px;
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  display: flex;
}

.technique {
  margin-left: 379px;
  display: flex;
  flex-wrap: wrap;
}

.Html,
.Css,
.Js,
.Php,
.Sql,
.Python,
.React,
.Symfony,
.Debian,
.Terminal,
.Java {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-python {
  color: #ffd43b;
}

.fa-js {
  color: #f0db4f;
}

.fa-php {
  color: #777bb4;
}

.fa-database {
  color: #00758f;
}

.fa-react {
  color: #61dbfb;
}

.fa-symfony {
  color: #000000;
}

.fa-debian {
  color: #a80030;
}

.fa-terminal {
  color: #000000;
}

h6 {
  color: #102b3f;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 380px;
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  display: flex;
}

.bloc3 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fas {
  font-size: 30px;
  margin-left: 370px;
  display: inline-block;
}

.text {
  font-size: 20px;
  margin-top: 0px;
}

@media (min-width: 320px) and (max-width: 425px) {
  h2,
  h3,
  h4,
  h5,
  h6,
  .dawan,
  .A_propos_de_moi,
  .bloc,
  .bac2,
  .Cap,
  .bac,
  .formation,
  .hyzen,
  .mairie,
  .mission,
  .casse,
  .technique,
  .fas,
  .text {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .bloc {
    display: flex;
    flex-direction: column;
  }
  .bloc2,
  .bloc3 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .Html,
  .Css,
  .Js,
  .Php,
  .Sql,
  .Python,
  .React,
  .Symfony,
  .Debian,
  .Terminal {
    display: flex;
    flex-direction: wrap;
    font-size: 45px;
  }
  .fas {
    font-size: 30px;
  }
  .text {
    font-size: 20px;
    margin-top: 0px;
    justify-content: center;
    text-align: center;
    display: flex;
  }
}
@media (min-width: 728px) and (max-width: 1440px) {
  h2,
  h3,
  h4,
  h5,
  h6,
  .dawan,
  .A_propos_de_moi,
  .bloc,
  .bac2,
  .Cap,
  .bac,
  .formation,
  .hyzen,
  .mairie,
  .mission,
  .casse,
  .technique,
  .fas,
  .text {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .bloc {
    display: flex;
    flex-direction: column;
  }
  .bloc2,
  .bloc3 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .Html,
  .Css,
  .Js,
  .Php,
  .Sql,
  .Python,
  .React,
  .Symfony,
  .Debian,
  .Terminal {
    display: flex;
    flex-direction: wrap;
    font-size: 45px;
  }
  .fas {
    font-size: 30px;
  }
  .text {
    font-size: 20px;
    margin-top: 0px;
    justify-content: center;
    text-align: center;
    display: flex;
  }
}/*# sourceMappingURL=persso.css.map */