h2 {
  color: #102b3f;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 20%;
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  display: flex;
}

.A_propos_de_moi {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 380px;
  color: black;
  display: flex;
}

.bloc {
  width: auto;
  height: auto;
  background-color: white;
  display: flex;
}

h3 {
  color: #102b3f;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 380px;
  margin-top: 10px;
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  display: inline-flex;
}

h4 {
  color: #102b3f;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 200px;
  margin-top: 10px;
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  display: inline-flex;
}

.bac2,
.Cap,
.bac,
.formation {
  margin-left: 370px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
}

.hyzen,
.mairie,
.mission,
.casse {
  margin-left: 200px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
}

h5 {
  color: #102b3f;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 380px;
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  display: flex;
}

.technique {
  margin-left: 379px;
  display: flex;
  flex-wrap: wrap;
}

.Html,
.Css,
.Js,
.Php,
.Sql,
.Python,
.React,
.Symfony,
.Debian,
.Terminal {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3-alt {
  color: #264de4;
}

.fa-python {
  color: #ffd43b;
}

.fa-js {
  color: #f0db4f;
}

.fa-php {
  color: #777bb4;
}

.fa-database {
  color: #00758f;
}

.fa-react {
  color: #61dbfb;
}

.fa-symfony {
  color: #000000;
}

.fa-debian {
  color: #a80030;
}

.fa-terminal {
  color: #000000;
}

h6 {
  color: #102b3f;
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 380px;
  -webkit-text-decoration: underline solid red;
          text-decoration: underline solid red;
  display: inline-flex;
}

.fas {
  font-size: 30px;
  margin-left: 370px;
  display: flex;
}

.text {
  margin-left: 400px;
  font-size: 20px;
  margin-top: 0px;
  justify-content: center;
  text-align: center;
  display: flex;
}

@media (max-width: 768px) {
  h2 {
    text-align: center;
    margin-left: 37%;
  }
  .A_propos_de_moi {
    text-align: center;
    margin-left: 0;
  }
  .bloc {
    flex-direction: column;
  }
  h3 {
    text-align: center;
    margin-left: 40%;
  }
  h4 {
    text-align: center;
    margin-left: 28%;
  }
  .bac2,
  .Cap,
  .bac,
  .formation {
    margin-left: 0;
  }
  .hyzen,
  .mairie,
  .mission,
  .casse {
    margin-left: 0;
  }
  h5 {
    margin-left: 35%;
  }
  .technique {
    width: 390px;
    margin-left: 27%;
    display: flex;
    flex-wrap: wrap;
  }
  .Html,
  .Css,
  .Js,
  .Php,
  .Sql,
  .Python,
  .React,
  .Symfony,
  .Debian,
  .Terminal {
    margin-left: 25px;
  }
  .progress {
    margin-left: 10%;
  }
  h6 {
    margin-left: 45%;
  }
  .fas {
    text-align: center;
  }
  .text {
    margin-left: auto;
  }
}
@media (max-width: 480px) {
  h2 {
    margin-left: 25%;
  }
  .A_propos_de_moi {
    text-align: center;
    justify-content: center;
    margin-left: 10px;
  }
  .bloc {
    flex-direction: column;
  }
  h3 {
    margin-left: 30%;
  }
  h4 {
    margin-left: 10%;
  }
  .bac2,
  .Cap,
  .bac,
  .formation {
    display: block;
  }
  .hyzen,
  .mairie,
  .mission,
  .casse {
    margin-left: 10px;
  }
  h5 {
    margin-left: 20%;
  }
  .technique {
    margin-left: 10px;
  }
  .Html,
  .Css,
  .Js,
  .Php,
  .Sql,
  .Python,
  .React,
  .Symfony,
  .Debian,
  .Terminal {
    margin-left: 28px;
    display: flex;
    flex-wrap: wrap;
  }
  .progress {
    margin-left: 10px;
  }
  h6 {
    margin-left: 40%;
  }
  .fas {
    margin-left: 50px;
  }
  .text {
    margin-left: 10px;
  }
}/*# sourceMappingURL=persso.css.map */